# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/DirectMLMotionBlur/packages
/DirectMLMotionBlur/.vs
/DirectMLMotionBlur/DirectMLSuperResolution
/DirectMLMotionBlur/Kits/DirectXTK12/Bin/Desktop_2017_Win10/x64
